<!--/*
  Gallery Component.
*/-->

<sly data-sly-use.carouselModel="com.usbank.cms.core.models.CarouselModel"/>
<sly data-sly-test.carouselList="${carouselModel.carouselList}"/>
<sly data-sly-test.listEmpty="${carouselList.size == 0}"/>
<h3 data-sly-test.mode="${(wcmmode.edit || wcmmode.design)}">Configure  Gallery Component.</h3>

   <div data-sly-test="${!listEmpty}" class="frame">
      <ul  data-sly-list="${carouselList}">
         <li style="display: block; opacity: ${itemList.last?1:0};" class="${itemList.last?'active':''}"><a href="${item.linkUrl}"><img alt="${item.alt}" src="${item.image}" width="705" height="400"> </a></li>
      </ul>
   </div>
   <div data-sly-test="${!listEmpty}"  class="switcher" style="display: block;">
      <div class="switcher-holder carousel">
         <div data-sly-list="${carouselList}" class="slides" style="width: 537px; height: 162px;">
            <div class="slideItem slideItem${item.count}${itemList.last?' slideItem-active':''}" >
               <a href="${item.linkUrl}"><img alt="${item.alt}" src="${item.thumbnail}"> </a>
               <div class="reflection rf1">
                  <img id="reflectImage" src="${item.thumbnail}">
                  <div class="gradient"></div>
               </div>
               <div class="reflection rf2"><img id="reflectImage" src="${item.thumbnail}"><div class="gradient"></div></div>
            </div>
         </div>
         <div class="spinner" style="display: none; width: 205px; height: 163px; top: 0px; right: 166px; opacity: 1; z-index: 11; position: absolute; cursor: pointer; overflow: hidden; padding: 0px; margin: 0px; border: none;"></div>
         <div class="videoOverlay" style="display: none; width: 205px; height: 163px; top: 0px; right: 166px; opacity: 1; z-index: 10; position: absolute; cursor: pointer; overflow: hidden; padding: 0px; margin: 0px; border: none;"></div>
         <div class="nextButton"></div>
         <div class="prevButton"></div>
      </div>
   </div>
